#==============================================================================#
# Enasis Network Common Libraries                                              #
# Configuration                                            Git Ignore Patterns #
#==============================================================================#
# Ignore Custom and Temporary Directories                                      #
# : - - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - - - #
# : Temporary Files and Directories                                            #
#==============================================================================#


#------------------------------------------------------------------------------#
# Ignore Custom and Temporary Directories                                      #
#------------------------------------------------------------------------------#
#
#~~ Temporary Files and Directories ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Files and directories that are generated during various components execution
#-----------------------------------------------------------------------------
__pycache__
.pytest_cache
*.pyc
pytestdebug.log
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#------------------------------------------------------------------------------#
